@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
  --color-primary2: #ffffff;

}
* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #757777 #1e1e1e;
}
body {
  color: white;
  background-color: #09090B;
}
.no-scrollbar {
  scrollbar-width: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
@keyframes fade-in {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fade-in {
  animation: fade-in 1s ease;
}
